

<h1>Cheerups!!</h1>
<h2>The sun is out today! Smile!</h2>
<%= social_share_button_tag("Share a cheerup on FB & Twitter") %>
<%= link_to 'Make this world better by sharing a message that makes someone happy', controller: 'cheerups' %>
