<h1>List of cheerups</h1>

<table>
<%= link_to 'New cheerup', new_cheerup_path %>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @cheerups.each do |cheerup| %>
    <tr>
      <td><%= cheerup.title %></td>
      <td><%= cheerup.text %></td>
    </tr>
  <% end %>
<%= link_to 'Back', new_cheerup_path %>

</table>
