/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */


body {
  position: fixed;
  top: 50px;
  left: 380px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-image: url("http://e2ua.com/data/wallpapers/101/WDF_1450625.jpg");
  background-color: #cccccc;
}
